header.page-header {
    position: fixed;
    z-index: 1;
    background-color: #9f0019;
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
}

nav ul > li {
    float: left;
    height: 100%;
    width: 200px;
    line-height: 60px;
    font-size: 1.1em;
    text-align: center;
    color: white;
    position: relative;
}

nav ul > li:hover {
    background-color: #830216;
}

nav a {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 200px;
    height: 60px;
    float: left;
}

.btn-login {
    float: right;
}

main {
    padding-top: 60px;
}

