
header {
    display: inline-block;
    height: 80px;
}

header .author-profile-picture {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

header .publish-date {
    font-style: italic;
    color: gray;
}

header .name {
    font-weight: bold;
}

.images {
    text-align: center;
}

main p {
    padding: 16px;
}

.news-item {
    width: calc(100% - 350px - 20px);
    display: inline-block;
}

aside {
    width: 350px;
    display: inline-block;
    background: #efefef;
    position: absolute;
    overflow: auto;
}

aside .author-profile-picture {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}